:root {
    font-family: sans-serif;
}

p {
    color: #c6d0f5;
}

body {
    padding: 0px;
    margin: 0px;
    width: 100vw;
    height: 100vh;
}

#main {
    background-color: #303446;
    width: 700px;
    height: 500px;
    border-radius: 6px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

#musicplayer {
    background-color: #232634;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}
