{{ block "index" .}}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>lofi-pomodoro</title>
        <link href="css/style.css" rel="stylesheet">
        {{ template "css" . }}
        {{ template "javascript" . }}
    </head>
    <body>
      {{ template "main" . }}
      <div id="musicplayer">
        <iframe id="iframe" src="https://www.youtube.com/embed/{{.VideoId}}?si=bZ9hFpMbL1xoD7vQ&amp;controls=0&autoplay=1&enablejsapi=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; web-share" referrerpolicy="strict-origin-when-cross-origin"></iframe>
      </div>
    </body>
</html>
{{ end }}

{{ block "main" . }}
<div id="main">
    <p>hello, world!</p>
</div>
{{ end }}
