{{ block "prevButton" . }}
<svg
  hx-get="/stream/next/{{ .Prev }}"
  hx-target="#musicplayer"
  xmlns="http://www.w3.org/2000/svg"
  height="28px"
  viewBox="0 -960 960 960"
  width="28px"
  fill="#cad3f5"
  class="icons"
>
  <path
    d="M220-240v-480h60v480h-60Zm520 0L394-480l346-240v480Zm-60-240Zm0 125v-250L499-480l181 125Z"
  />
</svg>
{{ end }} 

{{ block "nextButton" . }}
<svg
  hx-get="/stream/next/{{ .Next }}"
  hx-target="#musicplayer"
  xmlns="http://www.w3.org/2000/svg"
  height="28px"
  viewBox="0 -960 960 960"
  width="28px"
  fill="#cad3f5"
  class="icons"
>
  <path
    d="M680-240v-480h60v480h-60Zm-460 0v-480l346 240-346 240Zm60-240Zm0 125 181-125-181-125v250Z"
  />
</svg>
{{ end }} 

{{ block "pauseButton" . }}
<svg
  xmlns="http://www.w3.org/2000/svg"
  height="28px"
  viewBox="0 -960 960 960"
  width="28px"
  fill="#cad3f5"
  class="icons"
  onclick="pauseVideo()"
  hx-get="/play-button"
  hx-swap="outerHTML"
>
  <path
    d="M525-200v-560h235v560H525Zm-325 0v-560h235v560H200Zm385-60h115v-440H585v440Zm-325 0h115v-440H260v440Zm0-440v440-440Zm325 0v440-440Z"
  />
</svg>
{{ end }}

{{ block "playButton" . }}
<svg 
  xmlns="http://www.w3.org/2000/svg" 
  height="28px" 
  viewBox="0 -960 960 960" 
  width="28px" 
  fill="#cad3f5"
  class="icons"
  onclick="playVideo()"
  hx-get="/pause-button"
  hx-swap="outerHTML"
>
    <path 
      d="M320-203v-560l440 280-440 280Zm60-280Zm0 171 269-171-269-171v342Z"
    />
</svg>
{{end}}
