{{ block "css" . }}
<style>
:root {
    font-family: sans-serif;

    /* Colours 
     * Currently based off Catppuccin Macchiato
     */
    --bg: #24273a;
    --p: #cad3f5;
}

p {
    color: var(--p);
}

body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
}

#player-wrapper {
    background-color: var(--bg);
    width: 400px;
    height: 70px;
    position: absolute;
    border-radius: 20px 20px 0 0;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -100%);
    z-index: 100;
    overflow: hidden;
}

#player {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#player p {
    flex-grow: 1;
    width: 100%;
    text-align: center;
}

#musicplayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#musicplayer iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  border: none;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

@media (min-aspect-ratio: 16/9) {
  #musicplayer iframe {
    height: 56.25vw;
  }
}

@media (max-aspect-ratio: 16/9) {
  #musicplayer iframe {
    width: 177.78vh;
  }
}
</style>
{{ end }}
